<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Hajimao DesktopShop"
    Manufacturer="Hajimao"
    Version="$(ProductVersion)"
    UpgradeCode="{769C1156-51A9-4D4A-B7A3-3BC5C226B3F2}"
    Scope="perUserOrMachine"
    Compressed="yes">

    <MajorUpgrade DowngradeErrorMessage="A newer version of Hajimao DesktopShop is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="Hajimao DesktopShop" />
    </StandardDirectory>

    <Component
      Id="MainApplicationComponent"
      Directory="INSTALLFOLDER"
      Guid="{B3A4394E-7984-4FC9-A623-A885D32D5D95}">
      <File
        Id="MainExecutable"
        Source="!(bindpath.PublishDir)\HajimaoDesktopShop.Desktop.exe"
        KeyPath="yes">
        <Shortcut
          Id="StartMenuShortcut"
          Directory="ProgramMenuFolder"
          Name="Hajimao DesktopShop"
          Description="像素风桌面便利店运营增量游戏"
          WorkingDirectory="INSTALLFOLDER"
          Advertise="yes" />
      </File>

      <File
        Id="NativeSqlite"
        Source="!(bindpath.PublishDir)\e_sqlite3.dll"
        CompanionFile="MainExecutable" />
    </Component>

    <Files Directory="INSTALLFOLDER" Include="!(bindpath.PublishDir)\**">
      <Exclude Files="!(bindpath.PublishDir)\HajimaoDesktopShop.Desktop.exe" />
      <Exclude Files="!(bindpath.PublishDir)\e_sqlite3.dll" />
      <Exclude Files="!(bindpath.PublishDir)\**\*.pdb" />
    </Files>
  </Package>
</Wix>
